:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --h1: 3.2rem;
  --h2: 2.4rem;
  --h3: 1.872rem;
  --h4: 1.6rem;
  --h5: 1.328rem;
  --h6: 1.072rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

body {
  font-family: var(--font-raleway);
  height: 100%;
  width: 100%;
  position: relative;
}

.app-header {
  background-color: #a0e9ff;
  padding-left: 8px;
  display: flex;
  align-items: center;
  height: 55px;
  min-width: 100%;
}

nav {
  background-color: #91c8e4;
  width: 29rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  transition: width 0.5s ease;
  flex-shrink: 0;
}

nav.collapsed {
  width: 3rem;
}

.workspace {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  padding-left: 8px;
}

.workspace .btn-back {
  font-size: 22px;
  padding-right: 8px;
  cursor: pointer;
}

.workspace .btn-back:hover {
  color: #6a9cff;
}

.boards {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}

.boards .btn-plus {
  font-size: 22px;
  padding-right: 8px;
  cursor: pointer;
}

.boards .btn-plus:hover {
  color: #6a9cff;
}

.add-board {
  position: absolute;
  background-color: #ba90c6;
  height: 200px;
  width: 180px;
  left: 290px;
  top: 100px;
  z-index: 1;
}
.add-board h4 {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.add-board .btn-close {
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 22px;
  cursor: pointer;
}

.add-board .btn-close:hover {
  color: #4b82f1;
}

.add-board #Bname {
  position: relative;
  left: 6px;
  top: 8px;
  font-size: 1.4rem;
}

.add-board #Bname input[type="text"] {
  padding: 3px;
  width: 95%;
}

.add-board #Bcolor {
  top: 18px;
  position: relative;
  left: 6px;
  font-size: 1.4rem;
}

.add-board input[type="color"] {
  width: 95%;
  height: 30px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background: none;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

/* .add-board input[type="color" i]::-webkit-color-swatch {
  border-radius: 4px;
} */

.add-board input[type="submit"] {
  position: absolute;
  text-align: center;
  top: 162px;
  left: 2.3px;
  height: 16%;
  width: 97%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  background-color: #40679e;
}

.add-board input[type="submit"]:hover {
  background-color: #5c8df0;
}

.board-list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  justify-content: center;
}

.board-list li {
  margin-bottom: 1rem;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.board-list li:hover {
  background-color: #bcd1e6;
}

.board-list li h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  margin-left: 8px;
  flex: 1;
}
.board-list li .dot {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}

.container {
  display: flex;
  min-height: calc(100vh - 55px);
}
main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

main .menu {
  background-color: #89cff3;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

main .board {
  background-color: #00a9ff;
  height: 100%;
  padding: 10px 0 0 10px;/
}

.card {
  background-color: #fff;
  min-height: 12rem;
  width: 20rem;
  margin: 0.6rem 0.8rem;
  border-radius: 4px;
}

.card h4 {
  padding: 0.8rem;
}

.card input[type="text"] {
  margin: 0.8rem;
  padding: 0.5rem;
  width: 92%;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  cursor: pointer;
  transition: font-size 0.2s ease;
}
.input-icon .icon:hover {
  color: #6a9cff;
  font-size: 1.8rem;
}

.task-field {
  margin-left: 0.8rem;
  padding: 0.5rem;
  width: 92%;
}

.task-field::-webkit-scrollbar {
  display: none;
}

.card button {
  margin: 0.8rem;
}
.cards-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btn-addCard {
  background-color: #fff;
  border: none;
  width: 20rem;
  height: 4rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.6rem 0.8rem;
}

.btn-addCard:hover {
  background-color: #f1f3f5;
}

.btn-addTask {
  background-color: #fff;
  border: none;
  width: 92%;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.btn-addTask:hover {
  background-color: #f1f3f5;
}

.btn-add {
  background-color: blueviolet;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 32%;
  border-radius: 4px;
  color: #fff;
}

.btn-add:hover {
  background-color: #6a9cff;
}

.btn-cross {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  vertical-align: middle;
  width: 25px;
  border-radius: 4px;
}

.btn-cross:hover {
  background-color: #f1f3f5;
}
/* [data-dragging="true"] {
  background-color: lightblue;
}
[data-dragging1="true"] {
  background-color: rgb(64, 149, 223);
} */

@media (max-width: 600px) {
  nav {
    width: 19.5rem;
  }
  main {
    width: calc(100% - 19.5rem);
  }

  .add-board {
    left: 195px;
    top: 55px;
    width: 150px;
  }
}
